<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Colorado Yak</title>
    <nav><a href="/">HOME</a></nav>
</head>
<body>
    <nav>
      <img src="https://i.imgur.com/EBCKVZk.jpeg">
      <a href="/rivers" <%- title === 'All Rivers' ? 'class="active"' : '' %>>ALL RIVERS</a>
      <% if (user) { %>
        <a href="/rivers/new" <%- title === 'Add River' ? 'class="active"' : '' %>>ADD RIVER</a>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
    </nav>
    
