<%- include('../partials/header') %>

    <main>
        <h1>Enter a New Lake/River</h1>
        <form action="/rivers" method="POST">
            <label>Lake/River Name:
            </label>
            <input type="text" name="title">
            <label>GPS Latitude:</label>
            <input type="text" name="latitude">
            <label>GPS Longitude:</label>
            <input type="text" name="longitude">
            <label>Difficulty:</label>
            <select name="difficulty">
                <option value="Beginner" id="beg">Beginner</option>
                <option value="Intermediate" id="int">Intermediate</option>
                <option value="Expert" id="exp" selected>Expert</option>
            </select>
            <label for="dateVisited">Date Visited Lake/River:</label>
            <input type="date" id="dateVisited" name="dateVisited" value="<%= today %>">
            <label>Open:</label>
            <input type="checkbox" name="open" checked id="checkbox">
            <br><input type="submit" value="Add River">
        </form>
    </main>
    
<%- include('../partials/footer') %>