<%- include('../partials/header') %>

<section id="show-page">
<h2>Enter a New River</h2>
<form action="/rivers" method="POST">
  <label>River Name:
    <input type="text" name="River-Name">
    </select>
  </label><br>
  <label>Location:
        Longitude:<input type="text" name="Latitude">
        Latitude:<input type="text" name="Longitude">
    </select>
  </label><br>
  <label for="departs">Date Visited:</label>
    <input type="datetime-local" id="departs"
       name="departure" value= <%= function () {
        return new Date().getFullYear();
      } %>
       min: max:
     }
  </label><br>
  <input type="submit" value="Add River">
</form>

<%- include('../partials/footer') %>